$gray: #999999;
$orange: #FF5C00;

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../images/background/main.jpg);
  background-color: #000;
}

a {
  text-decoration: none;
}

header {
  margin: 0 auto;
  padding: 30px 50px;
  color: $gray;

  a {
    color: $gray;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      &__img {
        img {
          height: 90px;
        }
      }
      &__name {
        margin-left: 3vw;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
    &__order {
      display: flex;
      margin: 0 20px;
      align-items: center;
      justify-content: space-between;
      &__tel {
        font-size: 1.4rem;
        span {
          display: block;
        }
      }
      &__btn {
        margin: 20px;
        button {
          background-color: #000;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 600;
          border: 2px solid $gray;
          letter-spacing: 115%;
          padding: 15px;
          color: $gray;
          &:hover {
            background-color: $gray;
            color: $orange;
          }
        }
      }
    }
  }
  .nav {
    ul {
      margin: 10px 0;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 500;
      display: flex;
    }
    li {
      cursor: pointer;
      margin-right: 20px;
      list-style-type: none;
      &.active {
        color: #FF5C00;
      }
      &:hover {
        color: $orange;
      }
    }
  }
}

.main {
  position: relative;
  margin: 0 auto;
  display: flex;
  padding: 10px 10px;
  &__nav {
    background-color: #000;
    width: 22%;
    height: max-content;
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      text-align: center;
      cursor: pointer;
      list-style-type: none;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 5px 10px;
      border: 2px solid $gray;
      color: $gray;

      &:hover {
        color: $orange;
        background-color: $gray;
      }
      &.active {        
        color: $orange;
      }
    }
  }

  &__content {
    color: $gray;
    width: 78%;
    margin: 20px;

    &__header {
      display: flex;
      justify-content: center;

      h1 {
        margin-top: 5px;
      }
    }

    &__description {
      color: #c1c1c1;
      width: 100%;
      text-align: justify;
      font-size: 1.3rem;

      img {
        float: right;
        margin-left: 10px;
        height: 600px;
      }
      &__why {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__item {
          box-sizing: border-box;
          width: 30%;
          font-size: 1.1rem;
          padding: 20px;
          &__title {
            font-weight: 900;
            margin-bottom: 10px;
            text-align: center;
          }
          &__desc {
            font-weight: 300;

          }
        }
      }
      &__clients {
        text-align: center;
      }
      &__fakt {

        text-align: left;
        display: flex;
        box-sizing: border-box;

        &__item {
          max-width: 250px;
          padding: 0 20px;
        }
      }
    }
    &__prod {
      &__description {
        color: #c1c1c1;
        width: 100%;
        text-align: justify;
        font-size: 1.3rem;
  
        img {
          float: right;
          margin-left: 10px;
          height: 600px;
        }
      }
      &__header {
        display: flex;
        justify-content: center;
  
        h1 {
          margin-top: 5px;
        }
      }
      &__cards {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        color: #000;
        background-color: #FFF;
        
        &__item {
          margin: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 35%;
          font-size: 1.2rem;
          
          img {
            height: 180px;
          }
        }
      }
    }
    &__component {
      background-color: #FFF;
      display: flex;
      flex-direction: column;
      color: #000;
      &__title {
        text-align: center;
        font-size: 1.5rem;
        margin: 20px 0;
      }
      &__gost {
        & > p {
          margin: 0 50px;
          font-weight: 700;
        }
        & > .gost {
          cursor: pointer;
          transition: all 0.8s;
        }
        & > .gost:hover {
          transform: scale(1.02);
        }
      }
      &__desc {
        margin: 0 50px;
        & > p {
          margin: 10px 0;
          text-indent: 1cm;
          text-align: justify;
        }
      }
      &__images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 80px;
        &__item {
          & > img {
            height: 200px;
          }
        }
      }
    }
  }
}
footer {
  background-color: #000;
}

.footer {  margin: 0 auto;
  padding: 10px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $gray;
  .block1 {
    width: 30%;
  }
  .block2 {
    width: 20%;
  }
  .block3 {
    width: 50%;
  }
  .block {
    &__logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        img {
          height: 60px;
        }
      }

      &__name {
        margin-left: 2vw;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    &__right {
      font-size: 0.9rem;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 2vw;

      &__line {
        margin-bottom: 0.5vw;
        font-size: 0.9rem;

        a {
          color: $gray;
          text-decoration: none;
        }

        &__address {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.tk {
  &__content {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      &__image > a > img {
        cursor: pointer;
        height: 50px;
        transition: all 0.6s;
      }
      &__image > a > img:hover {
        transform: scale(2);
      }
      &__name {
        width: 400px;
        cursor: pointer;
        font-size: 2rem;
        & > a {
          color: #FFF;
        }
      }
      &__calculate {
        position: relative;
        i {
          color: $gray;
          font-size: 2rem;
          transition: all 0.6s;
          &:hover {
            color: #FFF;
            transform: scale(2);
          }
        }
      }
    }
  }
}
.discussion {
  margin: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__title {
    font-size: 1.5rem;
    color: $orange;
  }
  &__tel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &__items {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #FFF;
      & > img {
        height: 20px;
      }
    }
  }
  &__mail {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFF;
    font-size: 1.5rem;
    & > a > img {
      height: 20px;
    }
  }
  &__address {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    & > a {
      color: $gray;
    }
  }
}
.nav_menu_item .active {

}